* {
    margin: 12;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF6EE;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #273043
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    text-align: center;
    color: #273043;
    padding: 20px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 50px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
  }
  
  
  footer {
    color: #9197AE;
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 12px;
  }
  