* {
    margin: 12;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF6EE;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #273043
    font-weight: normal;
    padding: 20px;
  }
  
  
  header {
    text-align: center;
    color: #273043;
    padding: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5;
  }

  
  footer {
    color: #9197AE;
    padding: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 12px;
  }
  