body{
    background: radial-gradient(circle, #272A73, #A11692);
    margin:0px;
    font-family: "mycustomfont";
    color: rgb(255, 255, 255);
    height: 1100px;
    margin-bottom: 48px;
}

div{
    box-sizing:border-box;
}

img{
    width: 100%;
    display: block;
}

div.objectcontain img {
    object-fit: contain;
}

@font-face {
    font-family:"mycustomfont";
    src: url("Gobbble-BretzLining.otf") format("OpenType");
}

@font-face {
    font-family: "footerfont";
    src: url("Gobbble-Brischke.otf");
}

@font-face {
    font-family: "titlefont";
    src: url("TheNightWatch.ttf");
}

div.intro{
    margin-top: 195px;
}

div.outro{
    margin-bottom: 80px;
}

div.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: "titlefont";
}

div.footer{
    position: fixed;
    bottom: 0px;
    background-color: rgb(17, 157, 164);
    width: 100%;
    font-family: "footerfont";
}

div.box{
    width: 75%;
}

div.row{
    flex-wrap:wrap;
    display: flex;
}

div.height70{
    height: 70%;
}

div.height50{
    height: 50%;
}

div.height30{
    height:30%;
}

div.height25{
    height: 25%;
}

div.height10{
    height: 10%;
}

div.height8{
    height: 8%;
}

div.height6{
    height: 6%;
}

div.width50{
    width:50%;
}

div.weight {
    font-weight: bold;
}

div.font200{
    font-size: 200px;
}

div.font100{
    font-size: 100px;
}

div.font80{
    font-size: 80px;
}

div.font50{
    font-size: 50px;
}

div.font30{
    font-size: 30px;
}

div.padding20{
    padding: 20px;
}

div.margintop12{
    margin-top: 12%;
}

div.margintop10{
    margin-top: 10%;
}

div.margintop8{
    margin-top: 8%;
}

div.margintop5{
    margin-top: 5%;
}

div.marginleft{
    margin-left: 10%;
}

div.texttopleft{
    text-align: top left;
    padding: 10px;
}

div.textcenter{
    text-align: center;
}

div.radical{
    background: radial-gradient(circle, #272A73, #A11692);
}

div.gradient{
    background: linear-gradient(45deg, #272A73, #A11692);
}

div.sky{
    background-image:url(sky1.jpg);
    background-size: cover;
    background-position: center;
}

div.sky:hover{
    background-image: url(sky.jpg);
}
    
div.ocean{
    background-image:url(ocean1.jpg);
    background-size: cover;
    background-position: center;
}

div.ocean:hover{
    background-image: url(ocean.jpg);
}

div.mountain{
    background-image:url(mountain1.jpg);
    background-size: cover;
    background-position: center;
}

div.mountain:hover{
    background-image: url(mountain.jpg);
}

div.up{
    position:fixed;
    top:0;
    bottom: 0;
    height: 100%;
    z-index: 10;
}

div.bottom{
    position:fixed;
    width: 100%;
    bottom: 75px;
    height: 10%;
    z-index: 10;
    transition:1s;
    box-shadow:1px -1px 35px rgb(53, 6, 53);
}

div.bottom:hover{
    position: fixed;
    bottom: 48px;
    z-index:20;
    height:90%;
    transition:1s;
}