body{
    background: radial-gradient(circle, #272A73, #A11692);
    margin:0px;
    font-family: "mycustomfont";
    color: rgb(255, 255, 255);
    height: 1100px;
    margin-bottom: 48px;
}

div{
    box-sizing:border-box;
}

img{
    width: 100%;
    display: block;
}

div.objectcontain img {
    object-fit: contain;
}

@font-face {
    font-family:"mycustomfont";
    src: url("Gobbble-BretzLining.otf") format("OpenType");
}

@font-face {
    font-family: "footerfont";
    src: url("Gobbble-Brischke.otf");
}

@font-face {
    font-family: "titlefont";
    src: url("TheNightWatch.ttf");
}

div.intro{
    margin-top: 195px;
}

div.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: "titlefont";
    pointer-events: none;
    z-index: 10;
}

div.footer{
    position: fixed;
    bottom: 0px;
    background-color: rgb(17, 157, 164);
    width: 100%;
    font-family: "footerfont";
    z-index: 20;
}

div.box{
    width: 75%;
}

div.row{
    flex-wrap:wrap;
    display: flex;
}

div.height70{
    height: 70%;
}

div.height50{
    height: 50%;
}

div.height30{
    height:30%;
}

div.height25{
    height: 25%;
}

div.height10{
    height: 10%;
}

div.height8{
    height: 8%;
}

div.height6{
    height: 6%;
}

div.width50{
    width:50%;
}

div.width33{
    width: 33.33%;
}

div.font250{
    font-size: 250px;
}

div.font200{
    font-size: 200px;
}

div.font100{
    font-size: 100px;
}

div.font80{
    font-size: 80px;
}

div.font50{
    font-size: 50px;
}

div.font30{
    font-size: 30px;
}

div.padding20{
    padding: 20px;
}

div.margintop12{
    margin-top: 12%;
}

div.margintop10{
    margin-top: 10%;
}

div.margintop8{
    margin-top: 8%;
}

div.margintop5{
    margin-top: 5%;
}

div.marginleft{
    margin-left: 10%;
}

div.texttopleft{
    text-align: top left;
    padding: 10px;
    padding-left: 15px;
}

div.textcenter{
    text-align: center;
}

div.radical{
    background: radial-gradient(circle, #272A73, #A11692);
}

div.gradient{
    background: linear-gradient(45deg, #272A73, #A11692);
}

div.sky{
    background-image:url(sky1.jpg);
    background-size: cover;
    background-position: center;
}

div.sky:hover{
    background-image: url(sky.jpg);
}

div.trigger1{
    cursor: pointer;
}

div.skyinfo{
    opacity: 0;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 25;
    width: 350px;
    height: 350px;
}

div.skyinfo.show{
    opacity: 1;
}
    
div.ocean{
    background-image:url(ocean1.jpg);
    background-size: cover;
    background-position: center;
}

div.ocean:hover{
    background-image: url(ocean.jpg);
}

div.trigger2{
    cursor: pointer;
}

div.oceaninfo{
    opacity: 0;
    position: fixed;
    top: 300px;
    right: 550px;
    z-index: 25;
    width: 350px;
    height: 350px;
}

div.oceaninfo.show{
    opacity: 1;
}

div.mountain{
    background-image:url(mountain1.jpg);
    background-size: cover;
    background-position: center;
}

div.mountain:hover{
    background-image: url(mountain.jpg);
}

div.trigger3{
    cursor: pointer;
}

div.moutaininfo{
    opacity: 0;
    position: fixed;
    bottom: 100px;
    left: 80px;
    z-index: 25;
    width: 350px;
    height: 350px;
}

div.moutaininfo.show{
    opacity: 1;
}

div.bottom1{
    position:fixed;
    width: 35%;
    bottom: 45px;
    right: 0px;
    height: 20%;
    z-index: 10;
    transition:1s;
    box-shadow:1px -1px 35px rgb(53, 6, 53);
    border-radius: 40px 0px 0px 0px;
}

div.bottom1:hover{
    height:80%;
    transition:1s;
}

div.bottom2{
    position:fixed;
    width: 35%;
    bottom: 45px;
    right: 33.333%;
    height: 15%;
    z-index: 12;
    transition:1s;
    box-shadow:1px -1px 35px rgb(53, 6, 53);
    border-radius: 22px 22px 0px 0px;
}

div.bottom2:hover{
    height:80%;
    transition:1s;
}

div.bottom3{
    position:fixed;
    width: 35%;
    left: 0px;
    bottom: 45px;
    height: 10%;
    z-index: 15;
    transition:1s;
    box-shadow:1px -1px 35px rgb(53, 6, 53);
    border-radius: 0px 40px 0px 0px;
}

div.bottom3:hover{
    height:80%;
    transition:1s;
}

div.banner {
    width:100%;
    height:81vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
}

div.banneritem {
    width: 50%;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

div.bg1 {
    background-image: url(element1.png);
}

div.bg1:hover {
    transform: rotate(360deg);
    transition: 10s;
}

div.bg2 {
    background-image: url(element2.png);
}

div.bg2:hover {
    transform: rotate(360deg);
    transition: 10s;
}

div.bg3 {
    background-image: url(element3.png);
}

div.bg3:hover {
    transform: rotate(360deg);
    transition: 10s;
}

div.bg4 {
    background-image: url(element4.png);
}

div.bg4:hover {
    transform: rotate(360deg);
    transition: 10s;
}